<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
          <div class="text-center col-lg-3">
              <div class="center-block">
                  <a [routerLink]="['/batsman']">
                    <img src="./assets/images/batsman.png"
                    class="img-responsive"
                    style="max-height:200px"/>
                    <p><strong>BATSMAN</strong></p>
                  </a>
              </div>
          </div>
          <div class="text-center col-lg-3">
              <div class="center-block">
                  <a [routerLink]="['/wk']">
                    <img src="./assets/images/wk.png"
                    class="img-responsive"
                    style="max-height:200px"/>
                    <p><strong>WICKET KEEPER</strong></p>
                  </a>
              </div>
          </div>
          <div class="text-center col-lg-3">
              <div class="center-block">
                  <a [routerLink]="['/bowler']">
                    <img src="./assets/images/bowler.png"
                    class="img-responsive"
                    style="max-height:200px"/>
                    <p><strong>BOWLER</strong></p>
                  </a>
              </div>
          </div>
          <div class="text-center col-lg-3">
              <div class="center-block">
                  <a [routerLink]="['/allrounder']">
                    <img src="./assets/images/allrounder.png"
                    class="img-responsive"
                    style="max-height:200px"/>
                    <p><strong>ALL ROUNDER</strong></p>
                  </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>